<h1 class="text-center">tCode Gallery - Simple Angular touch image gallery</h1>

<p class="text-center">
  <em>Import, use, enjoy!</em>
  <br>
</p>

<p class="text-center">
  <a href="https://www.tcode.sk/"><strong>tcode.sk</strong></a>
  <br>
</p>

<hr>

<form [formGroup]="form" class="app-form">
  <div>
    <label for="backdrop">Backdrop</label>
    <input id="backdrop" formControlName="backdrop" type="checkbox">
  </div>
  <div>
    <label for="selectable">Selectable</label>
    <input id="selectable" formControlName="selectable" type="checkbox">
  </div>
  <div>
    <label for="preLoadImages">Pre-load images</label>
    <input id="preLoadImages" formControlName="preLoadImages" type="checkbox">
  </div>
  <div>
    <label for="changeRoute">Change route</label>
    <input id="changeRoute" formControlName="changeRoute" type="checkbox">
  </div>
  <div>
    <label for="disableRightClick">Disable right click</label>
    <input id="disableRightClick" formControlName="disableRightClick" type="checkbox">
  </div>
  <div>
    <label for="enableDownload">Enable download</label>
    <input id="enableDownload" formControlName="enableDownload" type="checkbox">
  </div>
  <div>
    <label for="trapFocusAutoCapture">Trap focus Auto-capture</label>
    <input id="trapFocusAutoCapture" formControlName="trapFocusAutoCapture" type="checkbox">
  </div>
  <div>
    <label for="showImageName">Show image name</label>
    <input id="showImageName" formControlName="showImageName" type="checkbox">
  </div>
  <div>
    <button (click)="openGallery()">Open gallery</button>
  </div>
</form>

<router-outlet />
<tc-gallery></tc-gallery>
