<h1>Testing Tcode gallery</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A adipisci amet consectetur dolor dolorem doloribus earum eius enim esse excepturi exercitationem expedita hic, itaque laborum nam nesciunt nihil nulla odio provident quas qui quibusdam quidem, quisquam rem reprehenderit sapiente sequi similique tempora totam vero? Blanditiis deserunt et neque perspiciatis repudiandae.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam eligendi expedita in, perspiciatis provident quam tempore tenetur vel? Accusantium aliquam eius facilis ipsam iste nobis ut. Eaque illo ipsum minus!</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur dicta nobis quos. Ab dicta earum laboriosam porro quia quisquam unde.</p>
<tc-gallery></tc-gallery>
<router-outlet />
<button (click)="openGallery()">open dialog</button>
<ng-template #test>
  <h2>ABCDEFU</h2>
</ng-template>
<form [formGroup]="form">
  <input formControlName="test">
</form>
