/* You can add global styles to this file, and also import other style files */
@import 'normalize.css';

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  background-color: var(--tc-background);
  color: var(--tc-text);
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.5; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

